

 .month{
     font-size: 0.8rem;
     
   }

   .ulItems{
       line-height: 41px !important;
       list-style-type: none;
      
 }

 .price{
     font-size: 3rem;
     text-align: center;
   }

   .mode{
     padding-top:20px;
     text-align: center;
     font-weight:bold;
     color:gray;
     text-transform:uppercase;
   }

  .btnStyle {
    border-radius: 5rem;
    margin: 5px 25px;
    width: 320px;
    height: 50px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: .3rem;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  };

  